#top {
    width: 1000px;
    height: 500px;
    margin: 0px 15%;
}

.top_left {
    width: 750px;
    height: 500px;
    float: left;
}

.top_right {
    width: 250px;
    height: 500px;
}
#top_box {
    width: 210px;
    height: 210px;
    color: white;
    font-style: inherit;
    margin-top:-250px;
    margin-left: -750px;
    padding: 20px;
    background: rgba(0, 128, 0, 0.5);
    float: left;
}

#box_all {
    width: 1000px;
    height: 500px;
    margin: 0px 15%;
}

.box_left {
    width: 750px;
    height: 500px;
    float: left;
}

#rightDiv {
    height: 500px;
    background: gold;
    float: left;
}

.box_right {
    width: 210px;
    height: 460px;
    margin: 20px;
}

.box {
    width: 210px;
    height: 210px;
    text-align: center;
    margin: 20px;
}
.box h2{
    margin: 10px;
}
.box p{
    margin: 10px;
}

.odd {
    background: firebrick;
    float: left;
}

.even {
    background: orange;
    float: left;
}

#footer {
    width: 1000px;
    margin: 0px 15%;
    background: pink;
}

.f_left {
    background: gray;
    width: 750px;
    height: 40px;
}

.f_left table thead th {
    padding: 7px;
    text-align: center;
    border-right: 1px solid peru;
}

.f_left table thead #thEnd {
    padding: 7px;
    text-align: center;
    border-right: 0px;
}