@use "variables";
@use "mixins";

header{
  position: fixed;
  top: variables.$vector-zero;
  height: variables.$row-height + 20;
  z-index: 1;
}
section{
  @include mixins.relative;
  top: variables.$vector * 24;
  width: variables.$max-width;
  height: (variables.$row-height * 5) -50;
}

article{
  float:left;
  margin: 5px;
  position: relative;
  p{
    position: absolute;
    color: white;
    margin:auto;
  }
}