@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "variables";
@use "mixins";
@use "function";


header {
  position: list.nth(variables.$position, 3);
  top: variables.$vector-zero;
  height: function.sizeCac(variables.$row-height, 1, 20);
  z-index: 1;
}

section {
  @include mixins.relative;
  top: function.sizeCac(variables.$vector, 24);
  width: variables.$max-width;
  height: function.sizeCac(variables.$row-height, 5, -50);
}

article {
  float: list.nth(variables.$alignment, 1);
  margin: variables.$vector;
  position: list.nth(variables.$position, 1);

  p {
    position: list.nth(variables.$position, 2);
    color: white;
    margin: variables.$margin-all;
  }
}


@each $i, $article in variables.$articles {
  .article#{$i} {

    @include mixins.article-size(map.get($article, size));

    @if map.has-key($article, texts) {
      @each $selector, $text-conf in map.get($article, texts) {
        #{$selector} {
          @include mixins.text-style($text-conf);
        }
      }
    }

  }
}


@for $i from 1 through 9 {
  .image#{$i} {
    background-image: url("#{variables.$imagePath}/#{list.nth(variables.$imageUrl, $i)}");
  }
}

