@use "mixins";
@use "variables";
header{
  width: 100%;
  left: variables.$left ; // 10px;
  bottom: variables.$bottom;
  border-bottom: 1px solid black;
  background: white;
  div{
    position: relative;
    width: variables.$max-width;
    height: variables.$row-height + 20;
    text-align: center;
    margin: auto;
    nav{
      float: right;
      position: absolute;
      li{
        float: left;
        padding: 5px;
        list-style-type: none;
      }
    }
    h1{
      position: absolute;
      left: variables.$left;
      bottom: variables.$bottom;
      float: left;
    }
  }
}
.global{
  right: variables.$vector-zero;
  bottom: variables.$vector-zero;
}
.utility{
  right: variables.$vector * 6;
  top : variables.$vector * 4;
}
|body{
  font-family: verdana;
}

a{
  color: #000;
  text-decoration-line: none;

  &:hover{
    color: blue;
    text-decoration-line:underline;
  }
}