@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "mixins";
@use "variables";
@use 'function';
header{
  width: function.sizeCac(variables.$proportion, 10);
  left: variables.$left ; // 10px;
  bottom: variables.$bottom;
  border-bottom: function.border(1px, solid, black);
  background: white;
  div{
    position: list.nth(variables.$position,2);
    width: variables.$max-width;
    height: variables.$row-height + 20;
    text-align: list.nth(variables.$alignment,5);
    margin: variables.$margin-all;
    nav{
      float: list.nth(variables.$alignment,2);
      position: list.nth(variables.$position,3);
      li{
        float: list.nth(variables.$alignment,1);
        padding: variables.$vector;
        list-style-type: none;
      }
    }
    h1{
      position: list.nth(variables.$position,2);
      left: variables.$left;
      bottom: variables.$bottom;
      float: list.nth(variables.$alignment,2);
    }
  }
}
.global{
  right: variables.$vector-zero;
  bottom: variables.$vector-zero;
}
.utility{
  right: variables.$vector * 6;
  top : variables.$vector * 4;
}
|body{
  font-family: variables.$font;
}

a{
  color: #000;
  text-decoration-line: list.nth(variables.$textStyle,1);

  &:hover{
    color: blue;
    text-decoration-line: list.nth(variables.$textStyle,3);
  }
}