@use "mixins";
@use "variables";
@use "function";

.main {
  background: url(../Resources/Index/bg_main.png);
  width: function.sizeCac(variables.$proportion, 10);
  height: function.sizeCac(variables.$row-height, 6, -10);
  color: white;

  p {
    font-size: function.sizeCac(variables.$vector, 5);
  }

  div {
    @include mixins.relative;
    width: function.sizeCac(variables.$col-width , 8);
    height: function.sizeCac(variables.$row-height, 3);
    top: function.sizeCac(variables.$vector, 30);
  }

  .title {
    font-size: function.sizeCac(variables.$vector, 18);
  }
}

header {
  position: nth(variables.$position,1);
}

section {
  width: variables.$max-width;
  height: function.sizeCac(variables.$row-height,5, -50);
  text-align: nth(variables.$alignment,5);
  margin: variables.$margin-all;

  article {
    width: function.sizeCac(variables.$col-width, 3, -5);
    float: nth(variables.$alignment,1);
    margin: variables.$margin-all;
  }

  p {
    width: function.sizeCac(variables.$col-width,2,30);
    margin: variables.$margin-all;
    text-align: nth(variables.$alignment,1);

  }
}

footer {
  width: function.sizeCac(variables.$proportion, 10);
  background: #020263;
  color: gray;

  div {
    width: function.sizeCac(variables.$col-width,10);
    height: variables.$row-height;
    margin: variables.$margin-all;

    h1 {
      left: variables.$left;
      bottom: variables.$bottom;
      float: nth(variables.$alignment,1);
    }
  }
}

.foot_menu {
  right: function.sizeCac(variables.$vector,4);
  bottom: variables.$bottom;
  margin: variables.$margin-all;
  float: nth(variables.$alignment,2);

  li {
    float: nth(variables.$alignment,1);
    padding: variables.$vector;
    list-style-type: variables.$textStyle[0];
    border-left: function.border(1px,solid,gray);
    margin: variables.$vector-zero variables.$margin-top;
  }
}