@use "mixins";
@use "variables";
.main {
  background: url(../Resources/Index/bg_main.png);
  width: 100%;
  height: variables.$row-height * 6 - 10;
  color: white;

  p {
    font-size: 25px;
  }

  div {
    @include mixins.relative;
    width: variables.$col-width * 8;
    height: variables.$row-height * 3;
    top: 150px;
  }

  .title {
    font-size: 80px;
  }
}

header {
  position: relative;
}

section {
  width: variables.$max-width;
  height: variables.$row-height * 5 - 50;
  text-align: center;
  margin: auto;

  article {
    width: variables.$col-width * 3 - 5;
    float: left;
    margin: auto;
  }

  p {
    width: variables.$col-width * 2 + 30;
    margin: auto;
    text-align: left;

  }
}

footer {
  width: 100%;
  background: #020263;
  color: gray;

  div {
    width: variables.$col-width * 10;
    height: variables.$row-height;
    margin: auto;

    h1 {
      left: variables.$left;
      bottom: variables.$bottom;
      float: left;
    }
  }
}

.foot_menu {
  right: variables.$vector * 4;
  bottom: variables.$bottom;
  margin: auto;
  float: right;

  li {
    float: left;
    padding: 5px;
    list-style-type: none;
    border-left: 1px solid gray;
    margin: 0px 10px;
  }
}