#header{
    height: 120px;
    width: 100%;
}
#header table{
    margin: auto;
    margin-top: 33px;
}
#header td{
    width: 13%;
    text-align: center;
}

#header td a{
    color: black;
    font-weight: bold;
    text-decoration-line: none;
}
#header td a:hover{
    color: red;
    text-decoration-line: underline;
}
#main_picture{
    height: 464px;
    text-align: center;
}
.icon_title_text{
    text-align: center;
}
.icon_title_text strong{
    font-size: large;
}
.icon_box{
    width: 1240px;
    text-align: center;
    margin: 0 auto;
}
.icon_box div{
    float: left;
    height: 200px;
    margin: 10px;
}
.icon_box p{
    width: 250px;
    height: 125px;
    word-wrap: break-word;
    margin: auto;
    padding: 0;
    border-bottom: 5px dotted gray;
}
.chefs{
    width: 100%;
    height: 304px;
    background-color: lightblue;
}
.chefs div{
    width: 814px;
    height: 304px;
    margin: auto;
}
.chefs div p{
    width: 500px;
    height: 100px;
    float: left;
    margin: 50px 10px;
}
